<div class="card text-center">
  <div class="card-body">

    <p class="card-text text-center text-secondary">In order to have access to tweets in your home line please</p>


    <p class="h4 mb-4">Sign in with</p>
    <%= link_to "Twitter", "/auth/twitter", class: 'btn btn-primary' %>
  </div>
</div>